<ion-modal-view>
  <ion-header-bar>
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
      </div>
      <h1 class="title">Checkout</h1>
	  <div class="buttons">
      <button class="button button-clear" ng-click="closeCheckOut()">Close</button>
    </div>
    </ion-header-bar>
	<ion-content>
	      <ion-list show-delete="data.showDelete" >
			<ion-item ng-repeat="item in cartProducts.Table"  item="item" href="#/item/{{item.id}}" class="item-remove-animate">
					{{ item.ProductName }}
					<p>Quantity : {{ item.Quantity }}</p>
			  <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
			  </ion-delete-button>
			</ion-item>
		</ion-list>
    </ion-content>
	<div class="bar bar-footer bar-balanced">
		<a id="goToLocation" ng-click="confirmOrder()" class="button">
			Confirm Order
		</a>
	</div>
</ion-modal-view>
