<ion-modal-view>
  <ion-header-bar>
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
      </div>
      <h1 class="title">Checkout</h1>
	  <div class="buttons">
      <button class="button button-clear" ng-click="closeCheckOut()">Close</button>
    </div>
    </ion-header-bar>
	<ion-content>
	      <ion-list show-delete="data.showDelete" >
			<ion-item ng-repeat="item in cartProducts.Table"  item="item" href="#/item/{{item.id}}" class="item-remove-animate">
					{{ item.ProductName }}
					<span class="badge badge-positive">{{ item.Quantity }}</span>
			  <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
			  </ion-delete-button>
			</ion-item>
		</ion-list>
		<div class="list card">
			<div class="item item-text-wrap">
				&#8377 {{cartProducts.Table1[0].TotalAmount}}
			</div><div class="item item-text-wrap">
				&#8377 {{cartProducts.Table1[0].ActualMRP}}
			</div>
			<label class="item item-input item-floating-label">
				<span class="input-label">Promo Code</span>
				<input id="couponCode" type="text" placeholder="Promo Code">
			</label>
			<div class="item" href="#">
				<button class="button button-block button-positive" type="submit" ng-click="checkPromoCode()">Check Promo Code</button>
			</div>
		</div>
    </ion-content>
	<div class="bar bar-footer bar-balanced">
		<a id="goToLocation" ng-click="confirmOrder()" class="button">
			Confirm Order
		</a>
	</div>
</ion-modal-view>
