<ion-modal-view>
  <ion-header-bar>
      <h1 class="title">History</h1>
	  <div class="buttons">
      	<button class="button button-clear button-assertive icon ion-android-cancel buttonFix" ng-click="closeHistory()">Close</button>
    	</div>
    </ion-header-bar>
	<ion-content>
		<ion-list show-delete="data.showDelete" >
			<ion-item ng-repeat="item in previousOrders.Table"  item="item" ng-click="getOrderHistoryList({{item.OrderID}})" class="item-remove-animate">
					<h2>{{ item.OrderDate }}</h2>
					<p>&#8377 {{ item.TotalAmount }}</p>
					<span class="item-note">
      					{{ item.StoreName }}
    				</span>
			</ion-item>
		</ion-list>
    </ion-content>
</ion-modal-view>