 <ion-pane>
  <ion-content scroll="false" style="background:transparent url('img/login-back.png') scroll center top;background-size:auto 40%;">
    <img src="img/overlay.png" style="position:absolute;height:100%;width:100%;"></div>
    <a ng-click="location()">
      <div style="position:absolute;color:#fff;top:50%;left:50%;margin:-100px 0 0 -100px;line-height:100px;height:200px;width:200px;font-size:100px;">
        <img src="img/home-starter.png" style="height:100%;width:100%" alt="">
      </div>
    </a>
  </ion-content>
</ion-pane>