<ion-pane cache-view="false">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Choose Location</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card"> 
      <div class="item item-body">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              State
            </div>
            <select>
              <option>Goa</option>
              <option selected>Maharashtra</option>
              <option>Karnataka</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              City
            </div>
            <select>
              <option>Panjim</option>
              <option selected>Margao</option>
              <option>Mapuca</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Locality
            </div>
            <select>
              <option>Khorlim</option>
              <option selected>Anything</option>
              <option>Anything2</option>
            </select>
          </label>
        </div>
      </div>
      <a class="item item-icon-button-positive" href="#">
        <i class="icon ion-ios-location"></i>
        Locate Me
      </a>
    </div>
    <div class="list card"> 
      <div class="item item-body">
        <div class="list">
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Go
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Go
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Go
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-location"></i>
        Locate Me
      </a>
    </div>  
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <a href="#/storetypes" class="button icon-right pull-right ion-chevron-right">
      Store Selected
    </a>
  </div>
</ion-pane>              