<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" id="userName">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" id="passWord">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="userLogin()" >Log in</button>
        </label>
      </div>
    </form>
    <button class="button button-clear button-positive">
      Can't Login ???
    </button>
	<div class="card">
		<div class="item item-text-wrap">
			<button class="button button-balanced button-block" ng-click="showSignUp()">
				Sign Up
			</button>
		</div>
	</div>
  </ion-content>
  <!--
  <div class="bar bar-footer bar-balanced">
    <a id="goToLocation" href="#/location" ng-click="closeLogin()" class="button icon-right ion-chevron-right pull-right">
      Do Later
    </a>
  </div>-->
</ion-modal-view>
