<ion-modal-view>
  <ion-header-bar>
      <h1 class="title icon ion-person-stalker"> Meet And Events</h1>
	  <div class="buttons">
      <button class="button button-clear" ng-click="meetAndEventsModal.hide()">Close</button>
    </div>
    </ion-header-bar>
	<ion-content>
		<ul class="list">
			<li class="item item-thumbnail-left" ng-repeat="service in meetAndEvents.Table"  ng-click="showMeetAndEventsDetails({{service.SPID}})">
				<img src="http://myposro.somee.com{{service.ImagePath | limitTo : 200 : 1}}">
				<h2>{{service.Name}}</h2>
				<p>{{service.CategoryName}}</p>
				<p>Experience:{{service.Experience}}</p>
			</li>
		</ul>
    </ion-content>
    <div class="bar bar-footer bar-positive">
    	<div class="button-bar">
			<button class="button icon ion-plus-round" ng-click="settingModal.show()">
			</button>
		</div>
	</div>	
</ion-modal-view>
