<ion-view view-title="{{storeName}}">
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="product in products.Table" class="item-thumbnail-left item-button-right" ng-click="addItem({{product.ProductID}})">
				<img src="http://myposro.somee.com{{product.ImagePath | limitTo : 200 : 1}}">				
				{{product.ProductName}}
				<span class="item-note">
      			Rs{{product.StorePrice}}
    			</span>
				<button class="button button-positive" >
      			<i class="ion-ios-cart-outline"></i>
    			</button>
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="bar bar-footer bar-balanced">
		<button class="button button-balanced icon ion-camera " ng-click="photoOrder()">
		</button>
	</div>
</ion-view>