<ion-pane>
	<ion-header-bar>
		<h1 class="title">Store Types</h1>
		<button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
		</button>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col col-33" ng-repeat="storeType in [storeTypes.Table[0],storeTypes.Table[1],storeTypes.Table[2]]" ng-if="storeType.StoreType" ng-click="selectStoreTypes({{storeType.StoreTypeID}})">
                <!--{{storeType.StoreType}}-->
				<img style="padding:10px;width:100%;" src="http://myposro.somee.com{{storeType.ImagePath | limitTo : 200 : 1}}" />
            </div>
		</div>
		<div class="row">
			<div class="col col-33" ng-repeat="storeType in [storeTypes.Table[3]]" ng-click="selectStoreTypes({{storeType.StoreTypeID}})">
                <!--{{storeType.StoreType}}-->
				<img style="padding:10px;width:100%;" src="http://myposro.somee.com{{storeType.ImagePath | limitTo : 200 : 1}}" />
            </div>
			<div class="col col-33">
				<!--<img style="padding:10px;width:100%;" src="http://myposro.somee.com{{storeType.ImagePath | limitTo : 200 : 1}}" />-->
            </div>
			<div class="col col-33" ng-repeat="storeType in [storeTypes.Table[4]]" ng-click="selectStoreTypes({{storeType.StoreTypeID}})">
                <!--{{storeType.StoreType}}-->
				<img style="padding:10px;width:100%;" src="http://myposro.somee.com{{storeType.ImagePath | limitTo : 200 : 1}}" />
            </div>
		</div>
		<ion-list>
			<ion-item ng-repeat="product in products.Table" class="item-thumbnail-left item-button-right" ng-click="goToStore({{product.StoreID}})">
				<img src="http://myposro.somee.com{{product.ImagePath | limitTo : 200 : 1}}">				
				{{product.ProductName}}
				<span class="item-note">
				Rs{{product.StorePrice}}
				</span>
				<button class="button button-positive" >
				<i class="ion-ios-cart-outline"></i>
				</button>
			</ion-item>
		</ion-list>
		<div class="row" style="background:rgba(0,0,0,0.2);">
			<div class="col col-33"   ng-click="goToMeetNEvents()">
				<img style="padding:10px;width:100%;" src="img/res/Events.png" />
            </div>
			<div class="col col-33"  ng-click="goToBuyNSell()">
				<img style="padding:10px;width:100%;" src="img/res/Furniture.png" />
            </div>
			<div class="col col-33"  ng-click="goToServices()">
				<img style="padding:10px;width:100%;" src="img/res/Service n Profession.png" />
            </div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-positive">
		<button class="button icon pull-right ion-gear-a" ng-click="settingModal.show()">
		</button>
	</div>
</ion-pane>

