<!--<ion-pane>
	<ion-header-bar>
		<h1 class="title">Store Types</h1>
	</ion-header-bar>
	<ion-content>
		<ion-item ng-repeat="storeType in storeTypes.Table" ng-click="selectStoreTypes({{storeType.StoreTypeID}})">	
			{{storeType.StoreType}}
		</ion-item>
		<div class="row">
			<div class="col-50">
				<img style="padding:10px;width:100%;" src="img/ionic.png" />
			</div>
			<div class="col-50 ">
				<img style="padding:10px;width:100%;" src="img/ionic.png" />
			</div>
		</div>
		<div class="row">
			<div class="col-50">
				<img style="padding:10px;width:100%;" src="img/ionic.png" />
			</div>
			<div class="col-50 ">
				<img style="padding:10px;width:100%;" src="img/ionic.png" />
			</div>
		</div>
	</ion-content>
</ion-pane>-->

<ion-pane>
	<ion-header-bar>
		<h1 class="title">Store Types</h1>
	</ion-header-bar>
	<ion-content>
		<div class="row" ng-repeat="storeType in storeTypes.Table" ng-if="$even">
			<div class="col col-50" ng-repeat="storeType in [storeTypes.Table[$index],storeTypes.Table[$index + 1]]" ng-click="selectStoreTypes({{storeType.StoreTypeID}})">
                <!--{{storeType.StoreType}}-->
				<img style="padding:10px;width:100%;" src="http://myposro.somee.com{{storeType.ImagePath | limitTo : 200 : 1}}" />
            </div>
		</div>
	</ion-content>
</ion-pane>

